/* CSS template */

body {
	width:  800px;
    height: 1000px;
    margin: auto;
    background-image:url("jordan-airness.jpg");
    background-size: 1800px;
    background-position: fixed;
	font-size: 23px;

}



.imgright {
	max-width: 100%;
	max-height: 100%;
}

.imgright {
	float:right;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    
}

.imgright img {
	width: 200px;
	height: 200px;
}


/* gallery.html css code */

.gallery {
    margin:  0px;
	border: 1px solid #ccc;
	width: 300px;
	float: left;
    position: relative;
    left: 13%;
}

.gallery:hover {
	border: 1px solid #777;
}
}

.gallery img {
	text-align: center;
    width: 100%;
 } 


.desc {
	padding: 15px;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	color: white;
}


/* -------------------- */

#header {
	margin: 0 auto;
	max-width:  950px;
}


#header h1 {
   font-size: 45px;
   font-style: italic;
   line-height: 45px;
   margin: 0;
   padding: 30px 0;
   color: red;
   text-align: center;
}

#header ul#navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#header ul#navigation li {
	display: inline;
	line-height: 30px;
	position: relative;
}


#header ul#navigation li {
     font-size: 23px;
     padding: 0 50px;
     background-color: black;
   
}

#header ul#navigation li a {
	text-decoration: none;
	color: red;
}

#header ul#navigation li a:hover,
#header ul#navigation ul li a:hover {
     color: white;
}


#header ul#nav {
	list-style: none;
	padding: 0;
	padding: 0;
	text-align: center;
}


#header ul#nav li {
	display: inline;
    position: relative;
    padding: 0 40px;
    font-size: 23px;
}    


#boption ul#back  {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}



#section {
   text-align: center;
   padding: 10px;
   margin: 10px;
   top: 25%;
   left: 25%;
   

}
#section  p.main {
	font-family: 'nixe_oneregular';
	font-family: 23px;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: justify;
	margin: 10px;
	padding: 10px;
    margin-bottom: 40px;
    color: white;
}

/* contact html page - css style */

.contact_form #row{
	margin: 0;
	padding: 0;
}


label {
	color: white;
	font-size: 15px;
	font-weight: normal;
}

.divTable {
	display: table;
	width: auto;
	background-color: #eee;
	border:1px solid #666666;
	border-spacing: 5px;

}

.divRow{
    display: table-row;
    width: auto;

   
}

.divCell {
	float: left;
	display: table-column;
	width: 200px;
	background-color: #ccc;
}


.airlogo{
	float:right;
    margin-right: 9px;
    margin-top: 0;
    padding: 9px;

}


.holder {
	width: 800px;
	margin: 0 auto;
	
}


.box-set_image {
	padding: 0 20px 0 0;
	margin: 10px;
	float: left;
	
}

.box-set_jordan-image {
	width: 250px;

}

.text-set-holder {
	padding: 10px 0 0;

}

.text-set-holder span {
	font-size: 18px;
	display: block;
 	font-weight: normal;
 	text-align: justify;
    color: white;
}

/* footer index css style */

.footer {
   position: fixed;
   left: 0;
   bottom: 0px;
   height: 77px;
   padding: 10px;
   width: 100%;
   background: red;
}


.footer img {
	height: 50px;
	display: block;
	margin: 0 auto;

}

.footer p {
    color: white;
	text-align: center;
	font-size: 15px;
	font-weight: normal;

}



/* gallery footer css style */


.g-footer {
   position: fixed;
   left: 0;
   bottom: 0px;
   height: 77px;
   padding: 10px;
   width: 100%;
   background: red;
}

.g-footer img {
	height: 50px;
	display: block;
	margin: 0 auto;
}

.g-footer p {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
}


/* about footer css style */

.a-footer {
  position: fixed;
   left: 0;
   bottom: 0px;
   padding: 10px;
   height: 77px;
   width: 100%;
   background: red;
}

.a-footer img {
    height: 50px;
    display: block;
    margin: 0 auto;
}


.a-footer  p {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
}



/* footer contact css style */


.c-footer{
   position: fixed;
   left: 0;
   bottom: 0px;
   padding: 10px;
   height: 77px;
   width: 100%;
   background: red;
}


.c-footer img {
	height: 50px;
	display: block;
	margin: 0 auto;
}

.c-footer p{
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	color: white;
}

#msgcontact ul li {
	list-style: none;
	display: inline;

}

#msgcontact  ul {
   margin: 10px;
   padding: 10px;
   margin-left: 0px;
   padding-left: 0px;

}


#msgcontact a {
	text-decoration: none;
}

#msgcontact span {
	font-size: 15px;
	font-weight: normal;
	color: white;
}


